@font-face {
  font-family: "Nimbus Sans DOT";
  src: url("../assets/fonts/nimbus-sans-d-ot-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url("../assets/fonts/NimbusSanL-Reg.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L Cond";
  src: url("../assets/fonts/NimbusSanL-ReguCond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.2;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  transition: 0.4s ease;
}

p {
  text-wrap: pretty;
  max-width: 70ch;

  span {
    display: block;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --font-family:
    "Nimbus Sans DOT", "Helvetica Neue", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  --color-ultralight: #f1f1f1;
  --color-grey-light: #e3e3e3;
  --color-grey-medium: #b1b1b1;
  --color-grey-dark: #878787;
  --color-black: #010101;
  --color-blue: rgb(0, 44, 219);
  --color-deep-blue: rgb(0, 42, 255);
  --color-purple: rgb(161, 107, 216);
  --color-purple-light: rgb(199, 189, 225);
  --color-green: rgb(0, 239, 56);
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-xs-s: calc((var(--space-xs) + var(--space-s)) / 2);
  --space-s: calc(var(--space-xs) * 2);
  --space-s-m: calc((var(--space-s) + var(--space-m)) / 2);
  --space-m: calc(var(--space-s) * 2);
  --space-m-l: calc((var(--space-m) + var(--space-l)) / 2);
  --space-l: calc(var(--space-m) * 2);
  --space-l-xl: calc((var(--space-l) + var(--space-xl)) / 2);
  --space-xl: 3rem;
  --space-xxl: calc(var(--space-l) * 2);
  --plyr-color-main: var(--color-deep-blue);
}

html {
  font-family: var(--font-family);
  background-color: var(--color-grey-dark);
  scroll-padding-top: var(--space-xxl);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-ultralight);
  color: var(--color-black);
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] min(calc(100vw - var(--space-m)), 920px)
    [content-end] 1fr [full-end];
}

main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: content;
  background-color: var(--color-ultralight);
  position: relative;

  padding-bottom: var(--space-xxl);
}

h1 {
  color: var(--color-deep-blue);
  font-size: 160%;
  margin-top: var(--space-l);
  margin-bottom: var(--space-m-l);
  letter-spacing: -0.5px;
}

h2 {
  font-size: 130%;
  font-weight: normal;
  letter-spacing: 2%;
  margin-top: var(--space-m-l);
}

#about h2 {
  color: var(--color-grey-dark);
}
h2:has(+ h3) {
  margin-bottom: 0;
}

h3 {
  font-weight: normal;
  letter-spacing: -2%;
  font-size: 110%;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-m);
  color: var(--color-grey-dark);
}

h2 + h3 {
  font-style: normal;
  margin-top: 0;
  margin-bottom: var(--space-m-l);
}

h4 {
  font-weight: normal;
  letter-spacing: -1%;
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-xs);
}

#about h4 {
  font-style: italic;
}

li,
p {
  margin-bottom: var(--space-m);
}
h2 + li {
  margin-top: var(--space-m);
}

.portfolio p {
  margin-top: var(--space-m);
}

.content ul {
  margin-top: var(--space-m);
  margin-bottom: var(--space-xl);
}

.content {
  min-height: 100vh;
}

.content.portfolio h1 {
  grid-column: content;
}

.content.portfolio article,
.content.portfolio section {
  row-gap: var(--space-xxl);
}

a {
  text-decoration: 1px solid underline var(--color-black);
  text-underline-offset: 2px;
  color: inherit;
  letter-spacing: -1%;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  background-color: var(--color-grey-medium);
  z-index: +1;
}

header nav {
  grid-column: content;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-s);
}

header li {
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-block: var(--space-s);
  justify-content: center;
}

.image-wrapper {
  position: relative;
}

.gallery .image-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery .image-wrapper:nth-child(3) img {
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
  object-position: right center;
  transform: scale(1.15);
  transform-origin: center;
}

.gallery .image-wrapper:nth-child(3) {
  overflow: hidden;
}

.gallery .image-wrapper:nth-child(1n) {
  border-top: 1px solid var(--color-blue);
  border-left: 1px solid var(--color-blue);
}

.gallery .image-wrapper:nth-child(2n) {
  border-right: 1px solid var(--color-blue);
}

.gallery .image-wrapper:nth-child(7) {
  border-right: 1px solid var(--color-blue);
}

.gallery .image-wrapper:nth-child(9),
.gallery .image-wrapper:nth-child(10) {
  border-bottom: 1px solid var(--color-blue);
}

.col-1 {
  grid-column: 1;
}
.col-2 {
  grid-column: 2;
}
.col-3 {
  grid-column: 3;
}
.col-4 {
  grid-column: 4;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row_span-2 {
  grid-row: span 2;
}

.row_2-3 {
  grid-row: 2 / 3;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  margin-bottom: var(--space-xxl);
}

.grid img {
  width: 100%;
  max-width: 100%;
}

.grid_auto-cols {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid_3x1 {
  grid-template-columns: repeat(3, 1fr);
}

.grid_2-1 {
  grid-template-columns: 2fr 1fr;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
}

.content {
  grid-column: content;
}

.portfolio img {
  max-width: 50%;
}

.portfolio .grid img {
  max-width: 100%;
}

.portfolio p {
  margin-bottom: var(--space-m);
}

#deerar iframe {
  width: 50%;
}

.portfolio ul > li + li {
  margin-top: var(--space-xxl);
}

.paragraph {
  margin-top: 1em;
}

#deerar iframe,
#noeglebarn iframe,
#yvonnes iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
}

#erosio iframe {
  aspect-ratio: 9/16;
  width: auto;
  height: 100%;
}

#erosio .image-wrapper img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.anchor {
  scroll-padding-top: var(--space-xxl);
}

.image-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  color: var(--color-blue);
  background: var(--color-ultralight);
  outline: 1px solid var(--color-blue);
  padding-block: var(--space-xxs);
  padding-inline: var(--space-m);
  margin-right: var(--space-s);
  margin-top: var(--space-s);
  align-content: center;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  opacity: 0;
  transition: opacity 0.13s ease;
  cursor: pointer;
  border: 1px solid var(--color-ultralight);
}

.image-wrapper:hover button {
  opacity: 1;
}

.image-wrapper button:hover {
  background-color: var(--color-grey-light);
}

/* View Scroll Timeline  */

@keyframes entry {
  from {
    translate: 0 15rem;
  }
}

@keyframes exit {
  to {
    opacity: 0;
  }
}

#portfolio header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  inline-size: 100%;
  block-size: 4px;
  background: var(--color-blue);
  transform-origin: 0 center;
  scale: 0 1;
  animation: progress linear;
  animation-timeline: scroll();
  z-index: 2;
}

@keyframes progress {
  to {
    scale: 1 1;
  }
}
