@font-face {
  font-family: "Nimbus Sans DOT";
  src: url("../assets/fonts/nimbus-sans-d-ot-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url("../assets/fonts/NimbusSanL-Reg.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L Cond";
  src: url("../assets/fonts/NimbusSanL-ReguCond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.2;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  transition: 0.4s ease;
}

p {
  text-wrap: pretty;
  max-width: 70ch;

  span {
    display: block;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --font-family:
    "Nimbus Sans DOT", "Helvetica Neue", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  --color-grey-light: #e3e3e3;
  --color-grey-medium: #b1b1b1;
  --color-grey-dark: #878787;
  --color-black: #010101;
  --space-xs: 0.25rem;
  --space-xs-s: calc((var(--space-xs) + var(--space-s)) / 2);
  --space-s: calc(var(--space-xs) * 2);
  --space-s-m: calc((var(--space-s) + var(--space-m)) / 2);
  --space-m: calc(var(--space-s) * 2);
  --space-m-l: calc((var(--space-m) + var(--space-l)) / 2);
  --space-l: calc(var(--space-m) * 2);
  --space-l-xl: calc((var(--space-l) + var(--space-xl)) / 2);
  --space-xl: 3rem;
  --space-xxl: calc(var(--space-l) * 2);
}

html {
  font-family: var(--font-family);
  background-color: var(--color-grey-dark);
}

body {
  background-color: var(--color-grey-light);
  color: var(--color-black);
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] min(calc(100vw - var(--space-m)), 920px)
    [content-end] 1fr [full-end];
}

main {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: content;
}

h1 {
  color: rgb(0, 13, 255);
  font-size: 160%;
  margin-top: var(--space-l);
  margin-bottom: var(--space-m-l);
  letter-spacing: -0.5px;
}

h2 {
  color: var(--color-grey-dark);
  font-size: 110%;
  font-weight: normal;
  letter-spacing: 2%;
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-m);
}

h3 {
  font-weight: normal;
  letter-spacing: -2%;
  font-size: 120%;
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-m);
}

#about h3 {
  color: var(--color-grey-dark);
}

h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 93%;
  letter-spacing: -1%;
}

.portfolio h4 {
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-xs);
}

li,
p {
  margin-bottom: var(--space-m);
}

.portfolio p {
  margin-top: var(--space-m);
}

.content ul {
  margin-top: var(--space-m);
  margin-bottom: var(--space-xl);
}

.content {
  min-height: 100vh;
  background-color: var(--color-grey-light);
}

a {
  text-decoration: 1px solid underline var(--color-black);
  text-underline-offset: 2px;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  background-color: var(--color-grey-medium);
  z-index: +1;

  nav {
    grid-column: content;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-block: var(--space-s);

    li {
      margin: 0;

      a {
        letter-spacing: -1%;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-s);
  padding-block: var(--space-s);
  justify-content: center;

  .image-wrapper {
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.col-1 {
  grid-column: 1;
}
.col-2 {
  grid-column: 2;
}
.col-3 {
  grid-column: 3;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row_span-2 {
  grid-row: span 2;
}

.row_2-3 {
  grid-row: 2 / 3;
}

.flex {
  display: flex;
}

.grid_auto-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
}

.content {
  grid-column: content;
}

.portfolio {
  img {
    max-width: 50%;
  }

  .grid_auto-cols img {
    max-width: 100%;
  }

  .grid_auto-cols .compact-span img {
    width: 100%;
    height: auto;
    max-height: 23.95rem;
    object-fit: cover;
  }

  .full img {
    width: auto;
    min-height: 100%;
    object-fit: contain;
  }

  p {
    margin-bottom: var(--space-m);
  }

  video {
    max-width: 100%;
  }

  ul > li + li {
    margin-top: var(--space-xxl);
  }
}

.paragraph {
  margin-top: 1em;
}

.scroll-section {
}
